form {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  form > input {
    background-color: #2d2d37;
    border: 0;
    padding: 6px 0;
    font-size: 1rem;
    width: 240px;
    outline: 0;
    color: white;
    border-bottom: 1px solid #e64944;
    margin-right: 8px;
  }
  
  button {
    background-color: #e64944;
    border: 1px solid #e64944;
    color: white;
    font-size: 16px;
    padding: 6px 14px;
  }
  
  input::placeholder {
    color: #e64944;
    opacity: 1;
  }
  
 